.container {
	width: 1030px;
	max-height: 1456.42px;
	margin: 0 auto;
	border: 1px solid grey;
}

.left {
	width: 33.33%;
	background-color: #6DC7B4;
	height: 1456.42px;
}

.avatar {
	text-align: center;
	padding-top: 15px;
}

.avatar img {
	border-radius: 100%;
}

#name {
	font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 28px;
}