body {
	display: flex;
	flex-direction: column;
}
body > div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
body > div > div > div {
	margin: 1em;
	width: 10em;
	height: 5em;
}
span {
	width: 10em;
	min-height: 2em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.split-line {
	display: block;
	height: 1px;
	width: 100%;
	background-color: grey;
}

#outline {
	display: flex;
	justify-content: space-around;
}

#outline-normal {
	width: 100px;
	height: 60px;
	margin: 25px;
	background-color: yellowgreen;
	border: 10px solid #655;
	outline: 5px solid deeppink;
}

#outline-stroke {
	width: 100px;
	height: 60px;
	margin: 25px;
	background-color: yellowgreen;
	border: 10px solid #655;
	outline: 1px dotted white;
	outline-offset: -5px;
}

#outline-radius {
	width: 100px;
	height: 60px;
	margin: 25px;
	background-color: yellowgreen;
	border-radius: 5px;
	outline: 2px solid grey;
}

#bg-position {
	display: flex;
	justify-content: space-around;
}

#bg-position-right-bottom {
	background: url(http://csssecrets.io/images/code-pirate.svg)
	            no-repeat bottom right #58a;
	/* for advanced browser
		backgroun: rul(code-pirate.svg) no-repeat #58a;
	 */
	background-position: right 20px bottom 10px;
	width: 10em;
	min-height: 5em;
	padding: 10px;
	color: white;
	font: 100%/1 sans-serif;
}

#bg-origin {
	background: url(http://csssecrets.io/images/code-pirate.svg)
	            no-repeat bottom right #58a;
	background-origin: content-box;
	width: 10em;
	min-height: 5em;
	padding: 10px;
	color: white;
	font: 100%/1 sans-serif;
}

#calc-offset {
	background: url(http://csssecrets.io/images/code-pirate.svg)
				no-repeat bottom right #58a;
				background-position: calc(100% - 20px) calc(100% - 10px);
	width: 10em;
	min-height: 5em;
	padding: 10px;
	color: white;
	font: 100%/1 sans-serif;
}

#inner-roundding-2e {
	width: 10em;
	background-color: #655;
	padding: .8em;
}
#inner-roundding-2e > div {
	background: tan;
	border-radius: .8em;
	padding: 1em;
}

#inner-roundding-1e {
	margin: 1em;
	height: 5em;
	width: 10em;
	background: tan;
	border-radius: .8em;
	outline: .6em solid #655;
	box-shadow: 0 0 0 .5em #655;
}


#normal-linear-gradient {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3, #58a);
}

#linear-gradient-range {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3 20%, #58a 80%)
}

#clear-linear-gradient {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3 50%, #58a 50%)
}

#shortened-stripe {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3 50%, #58a 50%);
	background-size: 100% 30px;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
}

#default-stripe {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3 50%, #58a 50%);
	background-size: 100% 30px;
}

#stripe-diff-width {
	margin: 1em;
	width: 10em;
	height: 5em;
	/* background: linear-gradient(#fb3 30%, #58a 30%);
	background-size: 100% 30px; */
	background: linear-gradient(#fb3 30%, #58a 0);
	background-size: 100% 30px;
}

#three-stripes {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
	background-size: 100% 45px;
}

#vertical-stripes {
	margin: 1em;
	width: 10em;
	height: 5em;
	background: linear-gradient(to right, #fb3 50%, #58a 0);
	background-size: 30px 100%;
}


#diagonal-wrong-stripes {
	background: linear-gradient(45deg, #fb3 50%, #58a 0);
	background-size: 30px 30px;
}

#diagonal-4-stripes {
	background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
	background-size: 30px 30px;
}

#diagonal-bold-stripes {
	background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
	background-size: 42.4264px 42.4264px;	
}

#better-stripe {
	background: repeating-linear-gradient(45deg, #fb3, #58a 30px);
}

#better-deg-stripe {
	background: repeating-linear-gradient(60deg, #fb3, #fb3 15px, #58a 0, #58a 30px);
}

#subtle-stripe {
	background: #58a;
	background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px);
}